<template>
  <div id="dashboard">
    <h1>That's the dashboard!</h1>
    <p>You should only get here if you're authenticated!</p>
    <p>Your email address {{ email }}</p>
  </div>
</template>

<script>
import axios from 'axios'

export default {
/**to load something once the component is created we
make use of the created lifecycle hooks  
**/
data(){
  return {
  email: ''
  }
},
created(){
  axios.get('/users.json')
  .then(res => {
    console.log(res)
    const data = res.data
    const users = []
    for (let key in data){
      const user = data[key]
      //Assign an id to each data
      user.id = key
      users.push(user)
    }
    console.log(users)
    this.email = users[0].email
  })
  .catch(error => console.log(error))
}
}
</script>

<style scoped>
  h1, p {
    text-align: center;
  }

  p {
    color: red;
  }
</style>